courses/BITS_F466/lab/04/CalculateJavaClient/xml-resources/web-service-references/Calculate/wsdl/localhost_8080/Calculator/Calculate.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soc.org.kelvin/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soc.org.kelvin/" name="Calculate">
<types>
<xsd:schema>
<xsd:import namespace="http://soc.org.kelvin/" schemaLocation="http://localhost:8080/Calculator/Calculate?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract"/>
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse"/>
</message>
<message name="divide">
<part name="parameters" element="tns:divide"/>
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse"/>
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply"/>
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse"/>
</message>
<portType name="Calculate">
<operation name="add">
<input wsam:Action="http://soc.org.kelvin/Calculate/addRequest" message="tns:add"/>
<output wsam:Action="http://soc.org.kelvin/Calculate/addResponse" message="tns:addResponse"/>
</operation>
<operation name="subtract">
<input wsam:Action="http://soc.org.kelvin/Calculate/subtractRequest" message="tns:subtract"/>
<output wsam:Action="http://soc.org.kelvin/Calculate/subtractResponse" message="tns:subtractResponse"/>
</operation>
<operation name="divide">
<input wsam:Action="http://soc.org.kelvin/Calculate/divideRequest" message="tns:divide"/>
<output wsam:Action="http://soc.org.kelvin/Calculate/divideResponse" message="tns:divideResponse"/>
</operation>
<operation name="multiply">
<input wsam:Action="http://soc.org.kelvin/Calculate/multiplyRequest" message="tns:multiply"/>
<output wsam:Action="http://soc.org.kelvin/Calculate/multiplyResponse" message="tns:multiplyResponse"/>
</operation>
</portType>
<binding name="CalculatePortBinding" type="tns:Calculate">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divide">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculate">
<port name="CalculatePort" binding="tns:CalculatePortBinding">
<soap:address location="http://localhost:8080/Calculator/Calculate"/>
</port>
</service>
</definitions>