courses/BITS_F466/lab/01/Contact/Contact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Contact">
		<xs:annotation>
			<xs:documentation>Contact detaills of a person</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element name="Age" type="xs:int"/>
				<xs:element name="Email" type="xs:string"/>
				<xs:element name="Country" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
